@import 'variables';
@import 'mixins';

.auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;

    &__form {
        width: 600px;
        margin-top: -100px;
        background: #fff;
        padding: 30px;
        border-radius: 5px;

        input {
            width: 100%;
            height: 40px;
            margin: 0 0 10px 0;
            border: 1px solid #ddd;
            background: #fafafa;
            border-radius: 5px;
            padding: 5px;
        }

        input:focus {
            outline: none;
            border: 2px solid #1266f1;
        }
    }
}