@import 'variables';

.input {
    margin: 0 0 5px 0;

    & input {
        width: 100%;
        height: 40px;
        margin: 0;
        border: 1px solid $white-color;
        background: #fafafa;
        border-radius: 5px;
        padding: 5px;
        // transition: all 300ms ease-in-out;
    }

    & label {
        display: block;
        padding: 0;
        // margin-bottom: 3px;
    }

    & input:focus{
        outline: none;
        border: 2px solid #1266f1;
    }

    & span {
        font-size: 11px;
        color: $error-color;
        font-weight: bold;
    }

    &.invalid label{
        color: $error-color;
    } 
}