@import "~mdb-ui-kit/css/mdb.min.css";

nav {
  height: 10vh;
  // background: #ff8f00;
  // background-color: #fdd835;
  // background: linear-gradient(90deg, #1e53e5 90%, #1976d2);
  background: #1565c0;
}

.fa-user-circle {
  font-size: 24px;
}

.quiz-wrapper {
  display: flex;
  justify-content: center;
  // align-items: center;
  margin: 50px auto;
  height: 350px;
  width: 700px;
  // background-color: #00e676;
  // background-color: #00b74a;
  // background-color: #66bb6a;
  // background-color: #ff8f00;
  background: linear-gradient(254deg, #1976d2, #1565c0);
  color: #eee;
  border-radius: 5px;
  & > div {
    width: 100%;
    padding: 35px;
  }
  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    li {
      padding: 10px 10px;
      margin-top: 10px;
      width: 100%;
      border: 1px solid #eee;
      border-radius: 5px;
      transition: background 0.2s ease-in;
      &:hover {
        color: #fff;
        border: 1px solid #fff;
        background: rgba(255, 255, 255, 0.2);
        cursor: pointer;
      }
    }
    li.success {
      background: rgba(37, 241, 19, 0.85);
    }
    li.error {
      background: rgba(235, 64, 22, 0.85);
    }
  }
}

.fa-check {
  color: rgba(37, 241, 19, 0.85);
}
.fa-times {
  color: rgba(235, 64, 22, 1);
}
