@import '~mdb-ui-kit/css/mdb.min.css';

@import 'navbar';
@import 'quiz';
@import 'quiz-creator';
@import 'test-list';
@import 'auth';
@import 'loader';
@import 'button';
@import 'input';

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: linear-gradient(135deg, #396afc, #2948ff);
    // background: linear-gradient(135deg, #fc466b, #3f5efb);
    // background: linear-gradient(135deg, #42275a, #734b6d); // moon
    background: linear-gradient(135deg, #ff5f6d,#ffc371); // persik
    // background: linear-gradient(135deg, #b24592,#f15f79);
    // background: linear-gradient(135deg, #fc00ff, #00dbde);
    // background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045); instagram
    // background: linear-gradient(135deg, #fe8c00, #f83600); orange-red
    // background: linear-gradient(135deg, #780206, #061161); // dark-red
    opacity: 0.9;
    z-index: 2;
}

.layout {
    position: relative;
    // background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612717120_41-p-abstraktsiya-zelenii-fon-41.jpg");
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613333232_74-p-besplatno-skachat-fon-sinego-tsveta-79.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // z-index: -5;
    min-height: 100vh;
    // background-color: linear-gradient(135deg, #fc466b, #3f5efb);
    // opacity: 0.9;
}